<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ProjetoSomarUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
      
      <add name="SomarDatabase" connectionString="Data Source=Br2k-PC;Initial Catalog=SomarDatabase;Persist Security Info=True;User ID=usrapp;Password=usrapp@2017" providerName="System.Data.SqlClient" />
      <!--
        <add name="ProjetoSomarUI.Properties.Settings.SomarDatabase"
            connectionString="Data Source=Br2k-PC;Initial Catalog=SomarDatabase;Persist Security Info=True;User ID=usrapp;Password=usrapp@2017"
            providerName="System.Data.SqlClient" />
      -->
      <!--<add name="SomarDatabase" connectionString="Data Source=br2k.database.windows.net,1433;Initial Catalog=SomarDatabase;Persist Security Info=True;User ID=br2k;Password=Brichucka@2018" providerName="System.Data.SqlClient" />    -->
      
    <!--
    Server=tcp:br2k.database.windows.net,1433;
    Initial Catalog=somardatabase;
    Persist Security Info=False;
    User ID={your_username};
    Password={your_password};
    MultipleActiveResultSets=False;
    Encrypt=True;
    TrustServerCertificate=False;
    Connection Timeout=30;
    -->
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <ProjetoSomarUI.Properties.Settings>
            <setting name="default1" serializeAs="String">
                <value>Microsoft Sans Serif, 13.25pt</value>
            </setting>
        </ProjetoSomarUI.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.DataVisualization" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>