<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProjetoSomarUI.Properties.Settings.SomarDatabase"
            connectionString="Data Source=Br2k-PC;Initial Catalog=SomarDatabase;Persist Security Info=True;User ID=usrapp;Password=usrapp@2017"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>